.accountContainer .accountWrapper {
  max-width: 1000px;
  margin: auto;
  margin-top: 20px;
}
.accountContainer .accountWrapper .account .accountTitle {
  border-bottom: 1px solid #999999;
  padding-bottom: 10px;
}
.accountContainer .accountWrapper .account .accountTitle h3 {
  font-size: 30px;
  font-weight: 600;
  color: #000;
}
.accountContainer .accountWrapper .account .accountInfo {
  padding-top: 20px;
}
.accountContainer .accountWrapper .account .accountInfo .membershipPayments .membershipPaymentsFirst {
  display: flex;
  gap: 5%;
}
.accountContainer .accountWrapper .account .accountInfo .membershipPayments .membershipPaymentsFirst .membershipPaymentsTitleButton {
  display: flex;
  flex-direction: column;
}
.accountContainer .accountWrapper .account .accountInfo .membershipPayments .membershipPaymentsFirst .membershipPaymentsTitleButton h6 {
  padding-bottom: 5px;
  font-size: 18px;
  font-weight: 500;
  color: gray;
}
.accountContainer .accountWrapper .account .accountInfo .membershipPayments .membershipPaymentsFirst .membershipPaymentsTitleButton button {
  font-size: 12px;
  font-weight: 500;
  color: #000;
  border: none;
  background-color: #e6e6e6;
  padding: 12px 25px;
  cursor: pointer;
}
.accountContainer .accountWrapper .account .accountInfo .membershipPayments .membershipPaymentsFirst .membershipPaymentsTitleButton button:hover {
  background-color: #F2F2F2;
}
.accountContainer .accountWrapper .account .accountInfo .membershipPayments .membershipPaymentsFirst .userInfo {
  display: flex;
  flex-direction: column;
  width: 16%;
}
.accountContainer .accountWrapper .account .accountInfo .membershipPayments .membershipPaymentsFirst .userInfo span {
  font-size: 15px;
  font-weight: 500;
  color: #737373;
  padding-bottom: 5px;
}
.accountContainer .accountWrapper .account .accountInfo .membershipPayments .membershipPaymentsFirst .userInfo span:nth-child(1) {
  font-weight: 700;
  color: #000;
}
.accountContainer .accountWrapper .account .accountInfo .membershipPayments .membershipPaymentsFirst .userInfo .userCardInfo {
  padding-top: 61px;
}
.accountContainer .accountWrapper .account .accountInfo .membershipPayments .membershipPaymentsFirst .changeUserInfo {
  display: flex;
  flex-direction: column;
  width: 48%;
  text-align: right;
}
.accountContainer .accountWrapper .account .accountInfo .membershipPayments .membershipPaymentsFirst .changeUserInfo .userCardInfoChange {
  display: flex;
  flex-direction: column;
  padding-top: 61px;
  padding-bottom: 1%;
}
.accountContainer .accountWrapper .account .accountInfo .membershipPayments .membershipPaymentsFirst .changeUserInfo span {
  font-size: 15px;
  font-weight: 600;
  color: #0073E8;
  padding-bottom: 5px;
  cursor: pointer;
}
.accountContainer .accountWrapper .account .accountInfo .membershipPayments .membershipPaymentsFirst .changeUserInfo span:hover {
  text-decoration: underline;
}
.accountContainer .accountWrapper .account .accountInfo .planDetails {
  display: flex;
  gap: 5%;
  padding-top: 1.5%;
  padding-bottom: 0.8%;
  border-top: 1px solid #999999;
  border-bottom: 1px solid #999999;
}
.accountContainer .accountWrapper .account .accountInfo .planDetails .planDetailsTitle {
  width: 26.8%;
}
.accountContainer .accountWrapper .account .accountInfo .planDetails .planDetailsTitle h6 {
  padding-bottom: 5px;
  font-size: 18px;
  font-weight: 500;
  color: gray;
}
.accountContainer .accountWrapper .account .accountInfo .planDetails .planType span {
  font-size: 20px;
  font-weight: 700;
  color: #000;
}
.accountContainer .accountWrapper .account .accountInfo .planDetails .changePlan {
  font-size: 15px;
  font-weight: 600;
  color: #0073E8;
  width: 60%;
  text-align: right;
}
.accountContainer .accountWrapper .account .accountInfo .planDetails .changePlan span:hover {
  text-decoration: underline;
  cursor: pointer;
}
.accountContainer .accountWrapper .account .securityPrivacy {
  display: flex;
  gap: 5%;
  padding-top: 1%;
  border-bottom: 1px solid #999999;
  padding-bottom: 1%;
}
.accountContainer .accountWrapper .account .securityPrivacy .securityPrivacyTitle {
  width: 27%;
}
.accountContainer .accountWrapper .account .securityPrivacy .securityPrivacyTitle h6 {
  font-size: 18px;
  font-weight: 500;
  color: gray;
  padding-top: 1%;
}
.accountContainer .accountWrapper .account .securityPrivacy .securityPrivacyDesc {
  width: 33%;
}
.accountContainer .accountWrapper .account .securityPrivacy .securityPrivacyDesc span {
  font-size: 15px;
  font-weight: 500;
  color: #000;
}
.accountContainer .accountWrapper .account .securityPrivacy .closeAccount {
  width: 33%;
  text-align: right;
}
.accountContainer .accountWrapper .account .securityPrivacy .closeAccount span {
  font-size: 15px;
  font-weight: 600;
  color: #0073E8;
}
.accountContainer .accountWrapper .account .securityPrivacy .closeAccount span:hover {
  text-decoration: underline;
  cursor: pointer;
}
.accountContainer .accountWrapper .account .profileParentalControls {
  display: flex;
  gap: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-bottom: 1px solid #999999;
}
.accountContainer .accountWrapper .account .profileParentalControls .profileParentalControlsTitle {
  width: 26.5%;
}
.accountContainer .accountWrapper .account .profileParentalControls .profileParentalControlsTitle h6 {
  font-size: 18px;
  font-weight: 500;
  color: gray;
  width: 75%;
}
.accountContainer .accountWrapper .account .settings {
  display: flex;
  gap: 5%;
  padding-top: 1%;
}
.accountContainer .accountWrapper .account .settings .settingTitle {
  width: 26%;
}
.accountContainer .accountWrapper .account .settings .settingTitle h6 {
  font-size: 18px;
  font-weight: 500;
  color: gray;
}
.accountContainer .accountWrapper .account .settings .settingsInfo {
  display: flex;
  flex-direction: column;
}
.accountContainer .accountWrapper .account .settings .settingsInfo span {
  font-size: 15px;
  font-weight: 600;
  color: #0073E8;
}
.accountContainer .accountWrapper .account .settings .settingsInfo span:hover {
  text-decoration: underline;
  cursor: pointer;
}

footer .footerContainer {
  margin-top: 150px;
}
footer .footerContainer .footerWrapper {
  margin-left: 80px;
}
footer .footerContainer .footerWrapper .footerAskQuestion {
  padding-bottom: 2%;
  margin-left: 41px;
}
footer .footerContainer .footerWrapper .footerAskQuestion span {
  font-size: 18px;
  font-weight: 500;
  color: gray;
}
footer .footerContainer .footerWrapper .footerAskQuestion span:hover {
  text-decoration: underline;
  cursor: pointer;
}
footer .footerContainer .footerWrapper .footerPart ul {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
}
footer .footerContainer .footerWrapper .footerPart ul li {
  list-style-type: none;
  min-width: 161px;
  font-size: 12px;
  font-weight: 500;
  color: gray;
  margin-right: 70px;
  margin-bottom: 15px;
}
footer .footerContainer .footerWrapper .footerPart ul li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.accountComponent {
  background-color: #fff;
  height: 100%;
  min-height: 1000px;
}

.headerComponent .headerContainer {
  background-color: #000;
}
.headerComponent .headerWrapper {
  padding: 15px 55px;
}
.headerComponent .links,
.headerComponent .buttonInput {
  display: none !important;
}

.emptyRow {
  height: 90px;
}/*# sourceMappingURL=account.css.map */