.bannerContainer{
    position: relative;
    margin-bottom: -20px;
    .bannerWrapper{
        .bannerImage{
            img{
                height: 47.25vw;
                width: 100%;
            }
            .bannerDesc{
                display: flex;
                flex-direction: column;
                position: absolute;
                color: #fff;
                bottom: 20%;
                left: 3%;

                h1{
                    font-size: 50px;
                }
                p{
                    width: 35%;
                    margin-bottom: 2%;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 20px;
                }
                .bannerIcons{
                    cursor: pointer;
                    padding: 7px;
                    display: flex;
                    align-items: center;
                    gap: 10%;
                    font-size: 25px;
                    width: 150px;
                    background-color: #fff;
                    justify-content: center;
                    border-radius: 5px;
                    &:hover{
                        opacity: 0.8;
                    }
                    span{
                        font-size: 20px;
                        color: #111;
                    }
                    svg{
                        color: #111;
                    }
                }
            }
        }
    }
}