.comedyRowContainer {
    .comedyRowWrapper {
        padding-left: 50px;
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
        h1 {
            color: #e5e5e5;
            padding-top: 40px;
            padding-bottom: 5px;
            padding-left: 3px;
        }
        .comedy {
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
            .movie {
                padding-bottom: 5px;
                img {
                    max-height: 300px;
                    max-width: 250px;
                    border-radius: 5px;
                    &:hover {
                        transform: scale(1.08);
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
