@import "variables";

.profileManagament{
    .profileManagamentContainer{
        max-width: 800px;
        margin: auto;
        padding-top: 80px;
        .profileManagamentWrapper{
            display: flex;
            flex-direction: column;
            h1{
                @include font(61px,600,#fff);
                border-bottom:1px solid #fff;
            }
            .imageInfo{
                display: flex;
                gap: 30px;
                border-bottom: 1px solid #fff;
                padding-top: 30px;
                .image{
                    img{
                        width: 200px;
                        height: 140px;
                    }
                }
                .info{
                    color: #fff;
                    #nameManagament{
                        background: #666;
                        color: #fff;
                        outline: none;
                        border: none;
                        padding: 10px 10px;
                        font-size: 20px;
                        font-weight: 600;
                        margin-bottom: 20px;
                        width: 68%;
                        &::placeholder{
                            color: #FFFFFF;
                        }
                    }
                    .language{
                        display: flex;
                        flex-direction: column;
                        span{
                            font-size: 20px;
                            padding-bottom: 5px;
                        }
                        #selectManagament{
                            width: 10%;
                            outline: none;
                            margin-bottom: 25px;
                            background-color: #000;
                            color: #fff;
                            text-align: center;
                           &:hover{
                            background-color: #666;
                           }
                        }
                    }
                    .createUsername{
                        display: flex;
                        flex-direction: column;
                        border-bottom: 1px solid #fff;
                        h3{
                            padding-bottom: 10px;
                        }
                        span{
                            padding-bottom: 10px;
                            font-size: 20px;
                            width: 70%;
                        }
                        #usernameManagament{
                            padding: 10px 10px;
                            margin-bottom: 30px;
                            width: 68%;
                            background: #666;
                            outline: none;
                            border: none;
                            &::placeholder{
                                color: #FFFFFF;
                            }    
                        }
                    }
                    .settingsAdult{
                        padding-top: 30px;
                        display: flex;
                        flex-direction: column;
                        border-bottom: 1px solid #fff;
                        h3{
                            padding-bottom: 10px;
                            font-size: 20px;
                        }
                        span{
                            padding-bottom: 10px;
                            font-size: 20px;
                        }
                        #extraSpan{
                            padding: 0;
                            padding-top: 3px;
                            margin-bottom: 5px;
                            background-color: #363434;
                            color:#fff;
                            width: 28%;
                            text-align: center;
                        }
                        button{
                            margin-bottom: 30px;
                            width: 18%;
                            background-color: transparent;
                            border: 1px solid gray;
                            color: gray;
                            outline: none;
                            padding: 8px 20px;
                            font-size: 18px;
                            &:hover{
                                border: 1px solid #fff;
                                cursor: pointer;
                                color: #fff;
                            }
                        }
                    }
                    .autoplayControls{
                        padding-top: 30px;
                        display: flex;
                        flex-direction: column;
                        padding-bottom: 30px;
                        h4{
                            font-size: 20px;
                        }
                        .checkbox{
                            label{
                                padding-left: 8px;
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
            .submitProfileManagement{
                padding-top: 30px;
                color: gray;
                font-size: 25px;
                display: flex;
                gap: 10px;
                padding-bottom: 30px;
                a{
                    border: 1px solid gray;
                    padding: 10px 20px;
                &:first-child{
                    background-color: #fff;
                    color: #000;
                &:hover{
                    background-color: red;
                    color: #fff;
                }                    
                }
        
                &:hover{
                    cursor: pointer;
                    border: 1px solid #fff;
                }
                }
                
            }
        }
    }
}
