@import "variables";

.profileManagament{
    .profileManagamentContainer{
        max-width: 900px;
        margin: auto;
        .profileManagamentWrapper{
            display: flex;
            flex-direction: column;
            h1{
                @include font(61px,600,#fff)
            }
            .imageInfo{
                display: flex;
                gap: 30px;
                .image{
                    img{
                        width: 130px;
                        height: 102px;
                    }
                }
                .info{
                    color: #fff;
                    #nameManagament{
                        background: #666;
                        color: #fff;
                        outline: none;
                        border: none;
                        padding: 5px 10px;
                        margin-bottom: 15px;
                        width: 68%;
                    }
                    .language{
                        display: flex;
                        flex-direction: column;
                        #selectManagament{
                            width: 10%;
                            outline: none;
                            margin-bottom: 25px;
                        }
                    }
                    .createUsername{
                        display: flex;
                        flex-direction: column;
                        border-bottom: 1px solid #fff;
                        h3{
                            padding-bottom: 10px;
                        }
                        span{
                            padding-bottom: 10px;
                        }
                        #usernameManagament{
                            padding: 5px 10px;
                            margin-bottom: 30px;
                            width: 68%;
                            background: #666;
                            outline: none;
                            border: none;
                        }
                    }
                    .settingsAdult{
                        padding-top: 30px;
                        display: flex;
                        flex-direction: column;
                        border-bottom: 1px solid #fff;
                        h3{
                            padding-bottom: 10px;
                        }
                        span{
                            padding-bottom: 10px;
                        }
                        button{
                            margin-bottom: 30px;
                            width: 10%;
                        }
                    }
                    .autoplayControls{
                        border-bottom: 1px solid #fff;
                        padding-top: 30px;
                        display: flex;
                        flex-direction: column;
                        padding-bottom: 30px;
                    }
                }
            }
            .submitProfileManagement{
                padding-top: 30px;
                color: #fff;
            }
        }
    }
}