.moviesContainer {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    h3 {
        color: #e5e5e5;
        padding-top: 40px;
        padding-bottom: 5px;
        padding-left: 3px;

    }

    .moviesWrapper {
        display: flex;
        overflow-y: hidden;
        overflow-x: scroll;

        .movie {
            cursor: pointer;
            width: 100%;
            padding: 4px;
            img {
                max-height: 300px;
                max-width: 250px;
                border-radius: 5px;
            }

            :hover {
                scale: 1.08;
                padding: 5px;
            }
        }
        &::-webkit-scrollbar {
            display: none;
        }
    }
}
