.moviesContainer {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    h3 {
        color: #e5e5e5;
        padding-top: 40px;
        padding-bottom: 5px;
        padding-left: 3px;

    }

    .moviesWrapper {
        display: flex;
        overflow-y: hidden;
        overflow-x: hidden;
        position: relative;

        .movie {
            cursor: pointer;
            width: 100%;
            padding: 4px;
            img {
                max-height: 300px;
                max-width: 250px;
                border-radius: 5px;
            }

            :hover {
                scale: 1.08;
                padding: 5px;
            }
        }
        &::-webkit-scrollbar {
            display: none;
        }
    }
}



.alice-carousel__stage-item{
    width: 210px !important;
}

.alice-carousel__dots-item{
    display: none !important;
}

.alice-carousel__prev-btn{
    position: absolute;
    font-size: 80px;
    color: #fff;
    height: 50px;
    left: 3%;
    top: 22%;
    z-index: 1000;
    text-align: inherit;
}

.alice-carousel__next-btn{
    position: absolute;
    font-size: 80px;
    color: #fff;
    height: 50px;
    top: 22%;
    left: 92%;
    z-index: 1000;
}

.alice-carousel__dots{
    display: none;
}

.alice-carousel__next-btn-wrapper,.alice-carousel__prev-btn-wrapper{
    width: 61px;
}
