.moviesContainer {
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    h3 {
        color: #fff;
        padding: 15px 0;
        padding-left: 3px;
    }

    .moviesWrapper {
        display: flex;
        overflow-y: hidden;
        overflow-x: scroll;

        .movie {
            width: 100%;
            padding: 4px;
            img {
                max-height: 250px;
                max-width: 250px;
            }

            :hover {
                scale: 1.08;
                padding: 5px;
            }
        }
        &::-webkit-scrollbar {
            display: none;
        }
    }
}
